{# @var craft \craft\web\twig\variables\CraftVariable #}
{#-- Navbar --#}

<nav>
    <div>
        <strong>Gillian</strong>Vandewyer
        Product <strong>Designer</strong>
        <span></span> Problem solver
    </div>
    <a href="#" alt="about">about</a>
</nav>
