{# @var craft \craft\web\twig\variables\CraftVariable #}
{#-- Navbar --#}

<nav class="navbar__container">
    <div class="navbar__container__wrapper">
        <div class="navigation_title">
            <div class="navigation_title_line"><strong>Gillian</strong>Vandewyer</div>
            <div class="navigation_title_line">Product<strong>Designer</strong></div>
            <div class="navigation_title_line"><span></span>Problem solver</div>
        </div>
        <div class="navbar__innercontainer">
            <a href="#" alt="about" id="about-button">about</a>
        </div>
    </div>   
</nav>
