/*========================================================================== */
/* NAVIGATION
/*========================================================================== */
.navbar__container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 4rem;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease border-top;
    z-index: $zindex-tooltip;
    padding-top: 3rem;

    // GENERAL
    .navbar__container__wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: $inuit-wrapper-width;
        margin: auto;
    }
    
    // NAVIGATION
    .navbar__innercontainer{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-right: 0px;
        width: 100%;

        a, a:hover, a:active, a:focus{
            color: $black;
            text-decoration: none;
            font-family: $font-family-heading;
            font-weight: $font-weight-regular;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 1.5px;
            position: relative;
            display: inline-block;
            z-index: $zindex-tooltip;
            margin-top: 10px;
        }

        a.active{
            font-weight: $font-weight-black;
        }
    }

    #desktop-navigation{display: none;}

    #mobile-navigation{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        visibility: visible;
    }
}

.navbar__container.scroll{
    background-color: white;
    border-top: 0px solid $brand-primary;
    height: 3rem;
    // height: 4rem;
    transition: 0.5s ease border-top;

    a, a:hover, a:active, a:focus{
        color: $black;
    }
}

@include mq($from: tablet) {
    .navbar__container{
        .navbar__container__wrapper{
            padding: 0px 15px;
        }

        img{
            width: 160px;
            height: 50px;
            margin-top: 0.5rem;
        }

        .navbar__innercontainer{
            justify-content: flex-end;
            align-items: flex-start;

            a, a:hover, a:active, a:focus{
                &:after{
                    width: 100%;
                    height: 5px;
                }
            }

        }
        #desktop-navigation{display: inline-block;}
        #mobile-navigation{display: none; visibility: hidden;}
    }

    .navbar__container{
        // EVENTBUTTON
        .eventButton{
            margin-top: 0px !important;

            &:hover{
                background-color: $brand-primary;
                color: $white !important;
                transition:  $global-transition-fast;

                &:after{
                    display: none !important;
                    width: 0px !important;
                }
            }

        }

        // NAVIGATION
        .navbar__innercontainer{
            a, a:hover, a:active, a:focus{
                margin-left: 1rem;
            }
        }
    }

    .navbar__container.scroll{
        height: 4rem;

        img{
            width: 160px;
            height: 50px;
            margin-top: 0.5rem;
        }
    }
}

@include mq($from: desktop) {
    .navbar__container{
        // NAVIGATION
        .navbar__innercontainer{
            a, a:hover, a:active, a:focus{
                margin-left: 2rem;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .navbar__container{
        .navbar__container__wrapper{
            padding: 0px 0px;
        }
    }
}


//
// NAVBAR HEADER
// 

.navigation_title{
    text-transform: uppercase;
    // font-size: 1.8rem;
    font-size: 180%;
    line-height: 2.2rem;
    width: 18.5rem;
    font-family: $font-family-heading;
    font-weight: 100;
    
    strong{
        font-weight: 500;
    }

    span{
        width: 15%;
        height: 1px;
        background-color: $black;
        display: inline-block;
    }


    .navigation_title_line{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


//
// MOBILE NAVIGATION
// 

#mobile-navigation-overlay{
    position: fixed;
    background-color: $brand-primary;
    right: -100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: $zindex-popover;
    transition: 0.3s ease right;

    .mobile-navigation-overlay-container{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a{
            color: #fff;
            font-size: 2rem;
            position: relative;
        }

        .eventButton{
            font-size: 1.5rem !important;
        }

        a:hover, a:focus, a:active{
            text-decoration: none;
        }
    }
}


#mobile-navigation-overlay.active{
    right: 0px;
    top: 0px;
    transition: 0.3s ease right;
}
