.product__container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // background-color: $gray-light;

    &:after {
        content:"";
        position: absolute;
        z-index: -10;
        width:200vw;
        height: 200vh;
        left: -50%;
        top: -50%;
        background-image: url("../img/grain.png"); 
        animation: grain 1.5s steps(6) infinite;
    }

    @keyframes grain {
        0%, 100% {transform: translate(0,0);}
        10% {transform: translate(-5%,-10%);}
        30% {transform: translate(3%,-15%);}
        50% {transform: translate(12%,9%);}
        70% {transform: translate(9%,4%);}
        90% {transform: translate(-1%,7%);}
    }
}

// product slider function
.product-slider{
    opacity: 1;
    &.hide{
        opacity: 0;
        transition: $global-transition-fast;
    }
}

.product-slider__container{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: block;
    // lines start
    // &:before,
    // &:after{
    //     content: '';
    //     position: absolute;
    //     display: inline-block;
    //     height: 100%;
    //     width: 1px;
    //     background-color: #979797;
    //     top: 0;
    //     z-index: -20;
    //     opacity: 0.2;
    // }
    // &:before{left: 32%;}
    // &:after{left: 80%;}
    // lines end

    &.hide{
        display: none;
    }

    // buttons start
    .product-slider__nav{ 
        position: absolute;
        left:calc(100% - 160px);
        bottom: 10%;
        z-index:5000; 
        text-align: center; 
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 160px;
        
        .button{
            border: 1px solid #979797;
            width: 60px;
            height: 60px;
            cursor: pointer;
            background-image: url("../img/arrow.svg"); 
            background-size: 60%;
            background-position: center;
            background-repeat: no-repeat;

            &#prevtBtn{
                transform: rotate(180deg);
            }
        }
    }
    // buttons end

    // slider top
    .product-slider__top{
        height: 85%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;

        .product-slider__title_container{
            width: 45%;
            margin-bottom: 30px;

            h1{
                width: 100%;
                font-family:  $font-family-heading;
                font-size: 90px;
                font-weight: $font-weight-regular;
            }

            p{
                font-weight: $font-weight-light;
                font-family: $font-family-heading;
            }
        }

        // 3D
        model-viewer{
            --progress-bar-color: rgba(0,0,0,0);
        }

        .product-slider__3D_container{
            width: 60%;
            height: 100%;
            z-index: 0;
            display: flex;
            align-items: flex-end;

            .product-slider__3D_model{
                width: 100%;
                height: 85%;
                background-color: transparant;
                z-index: 5;
                position: relative;
                box-shadow:none !important;
                outline: 0px !important;
            }
            
            &:after{
                content: "";
                width: 35rem;
                height: 35rem;
                background-image: linear-gradient(130deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 10%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
                position: absolute;
                top: 20%;
                left: 45%;
                transform: rotate(45deg);
                border-radius: 1000px;
            }
        }

        h1{
            width: 40%;
            margin-bottom: 5px;
            color: $black;
        }

        p{
            font-size: 1.5rem;
            font-weight: 200;
            color: $black;
        }
    }
    // slider top end

    // slider bottom
    .product-slider__bottom{
        .product-slider__navigation{
            display: flex;
            justify-content: space-between;

            ul{
                display: flex;
                li{
                    list-style-type: none;
                    margin-left: 5px;
                    font-weight: 200;

                    &:after{
                        content: "/";
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        color: $black;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    &:last-child:after{
                        display: none;
                    }
                    
                    &:first-child{
                        font-weight: 400;
                    }
                }
            }
        } 
    }
    // slider bottom end
}








////
// SLIDER
//// 


#Dots{ 
  position: absolute; 
  z-index:5000;
  bottom:40px; 
  left:50%;
  transform:translate(-50%,0%);    
}

// .Dot{
//     width:8px; 
//     height: 8px; 
//     border-radius: 50%;
//     position: relative;
//     float: left;
//     opacity:1;
//     margin:5px; margin-bottom:0px;
//     cursor: pointer;
//     border:2px solid red;
// }
// TODO nav + buttons

.product-slider__slide {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    left:0px;
}
.product-slider__slide .product-slider__slide__inner{
    display:block;
    position:absolute;
    transform:translate(-50%,-50%);
    left:50%; 
    top:52%;

    max-width: $inuit-innerwrapper-width;
    width: 90%;
    height: 100%;
}