/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  transition: $global-transition;
  text-decoration: none;
  text-transform: uppercase;
  
  font-size: 16px;
  font-weight: 100;
  font-family: $font-family-heading;
}



/* ==========================================================================
   #BUTTON PRIMARY
   ========================================================================== */

.c-btn--primary {
  border: 0px solid $brand-primary;
  padding: 5px 10px;
  height: 2rem;
  font-weight:  $font-weight-light !important;
  transition:  $global-transition-fast;
  text-decoration: none;
  max-width: 250px;
  color: $black;
  border-top: 0px solid $black-light;
  border-right: 0px solid $black-light;

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  position: relative;

  span{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;

    &:after, &:before{
      content: '';
      position: absolute;
      right: -100%;
      top: 0;
      background-color: $black-light;
      width: 100%;
      height: 1px;
    }
    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: -100%;
      background-color: $black-light;
      width: 1px;
      height: 100%;
    }
  }

  &:before,
  &:after{
    content: '';
    position: absolute;
    background-color: $black-light;
  }

  &:before{
    width: 1px;
    height: 16px;
    bottom: -8px;
    left: 0;
    transition: $global-transition-fast;
  }
  &:after{
    width: 16px;
    height: 1px;
    bottom: 0;
    left: -8px;
    transition: $global-transition-fast;
  }

  p{
    color: $black;
    font-weight:  $font-weight-light !important;
    margin-bottom: 0px;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
  }

  &:hover{
    color: $black !important;
    transition:  $global-transition-fast;

    span{
      &:before, &:after{transition:  $global-transition-fast;}
      &:before{right: 0;}
      &:after{top: 0;}
    }
    
    &:before{
      width: 1px;
      height: 100%;
      bottom: 0;
      left: 0;
      transition: $global-transition-fast;
    }
    &:after{
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      transition: $global-transition-fast;
    }
  }

}

@include mq($from: tablet) {
  .c-btn--primary {
    cursor: pointer;
  }
}

/* ==========================================================================
   #BUTTON TEXT
   ========================================================================== */
.c-btn.text {
  color: $black;
  font-weight:  $font-weight-light;
  
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $black;
  }

}


/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}

/* ==========================================================================
    #INLINE
========================================================================== */
.inline-button, p a, 
.detailcomponents a, .detailcomponents p a{
    position: relative;
    color: $black;
    text-decoration: none;
    margin-left: 5px;

    border-bottom: 0.7px solid $brand-tertiary;

    &:hover{
      text-decoration: none;
      color: $brand-primary;
    }

    &:after{
      content: '';
      position: absolute;
      display: inline-block;
      width: 0%;
      bottom: -1px;
      left: 0;
      height: 1px;
      transition: 0.5s ease all;
    }

    &:hover:after{
        width: 100%;
        background-color: $brand-primary;
        height: 1px;
        transition: 0.5s ease all;
    }
}

@include mq($from: tablet) {
  .inline-button, p a{
    &:hover{
      text-decoration: none;
      color: $brand-primary;
    }

    &:hover:after{
        width: 100%;
        background-color: $brand-primary;
        height: 2px;
        transition: 0.5s ease all;
    }
  }
}