.product-slider__container{
    height: 100vh;
    width: 100vw;
    position: relative;

    // lines start
    &:before,
    &:after{
        content: '';
        position: absolute;
        display: inline-block;
        height: 100%;
        width: 1px;
        background-color: #979797;
        top: 0;
        z-index: -20;
        opacity: 0.2;
    }
    &:before{left: 32%;}
    &:after{left: 80%;}
    // lines end

    // slider top
    .product-slider__top{
        height: 85%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;

        .product-slider__title_container{
            width: 45%;

            h1{
                width: 100%;
            }
        }

        // 3D
        model-viewer{
            --progress-bar-color: rgba(0,0,0,0);
        }

        .product-slider__3D_container{
            width: 60%;
            height: 100%;
            z-index: 0;
            display: flex;
            align-items: flex-end;

            .product-slider__3D_model{
                width: 100%;
                height: 85%;
                background-color: transparant;
                z-index: 5;
                position: relative;
                box-shadow:none !important;
                outline: 0px !important;

            }
            
            &:after{
                content: "";
                width: 25rem;
                height: 25rem;
                background-color: white;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: rotate(45deg);
            }
        }

        h1{
            width: 40%;
            margin-bottom: 5px;
            color: $black;
        }

        p{
            font-size: 1.5rem;
            font-weight: 200;
            color: $black;
        }
    }
    // slider top end

    // slider bottom
    .product-slider__bottom{
        .product-slider__navigation{
            display: flex;
            justify-content: space-between;

            ul{
                display: flex;
                li{
                    list-style-type: none;
                    margin-left: 5px;
                    font-weight: 200;

                    &:after{
                        content: "/";
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        color: $black;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    &:last-child:after{
                        display: none;
                    }
                    
                    &:first-child{
                        font-weight: 400;
                    }
                }
            }
        } 
    }
    // slider bottom end
}








////
// SLIDER
//// 

// TODO nav + buttons
#nav{ 
    position: absolute;
    left:50%;
    top: 50%;
    z-index:5000; 
    text-align: center; 
}

#Dots{ 
  position: absolute; 
  z-index:5000;
  bottom:40px; 
  left:50%;
  transform:translate(-50%,0%);    
}

.Dot{
    width:8px; 
    height: 8px; 
    border-radius: 50%;
    position: relative;
    float: left;
    opacity:1;
    margin:5px; margin-bottom:0px;
    cursor: pointer;
    border:2px solid red;
}

#prevtBtn,#nextBtn{
    color: white;
    font-size: 45px;
    margin: 15px 15px 0px 15px;
    position: relative;
    cursor: pointer;
}
// TODO nav + buttons

.product-slider__slide {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    left:0px;
}
.product-slider__slide .product-slider__slide__inner{
    display:block;
    position:absolute;
    transform:translate(-50%,-50%);
    left:50%; 
    top:50%;

    max-width: $inuit-innerwrapper-width;
    width: 90%;
    height: 100%;
}