{# 
    //
    // TEST
    //
#}

{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
{% endblock %}

{% block content %}
    <section data-barba="container" data-barba-namespace="home"  class="o-wrapper product-slider__container">
        <div class="product-slider__top">
            <div class="product-slider__title_container">
                <h1>TEST</h1>
                <a class="c-btn c-btn--primary" href="/" alt="">
                    Home
                    <span></span>
                </a>
            </div>
        </div>
    </section>

{% endblock %}

{% block _inline_js %}
{% endblock %}
