{# 
    //
    // WORK
    //
#}

{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
{% endblock %}

{% block content %}
    <section data-barba="container" data-barba-namespace="detail">
        {% include "_partials/_navbar.twig" with {'navItemName': 'back', 'navItemUrl': '/' } %}
        <div class="detail-header__container o-wrapper">
            <div class="detail-page__header">
                <h1>{{entry.heading}}</h1>
                <p>{{entry.subheading}}</p>
                <span>{{entry.introtext}}</span>
            </div>    
        </div>
        <div class="detail-page__coverimage">
            {# img #}
        </div>

    </section>
{% endblock %}

{% block _inline_js %}
{% endblock %}
