{# 
    //
    // HOME
    //
#}

{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
{% endblock %}

{% block content %}
    <section class="product-slider__container">
        <div class="product-slider__title_container">
            <h1>SHIBUSHI</h1> 
            <p>a personal statement</p>
        </div>
        <div class="product-slider__navigation">
            <a href="#" alt="">Read more</a>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block _inline_js %}
{% endblock %}
