/* -- Site fonts */

/* @font-face {
    font-family: 'Source Sans Pro';
    font-display: swap;
    src: url('{{ baseUrl }}dist/fonts/sourcesanspro-black-webfont.eot');
    src: url('{{ baseUrl }}dist/fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-black-webfont.woff') format('woff'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: extra-bold;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-display: swap;
    src: url('{{ baseUrl }}dist/fonts/sourcesanspro-bold-webfont.eot');
    src: url('{{ baseUrl }}dist/fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: Bold;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-display: swap;
    src: url('{{ baseUrl }}dist/fonts/sourcesanspro-semibold-webfont.eot');
    src: url('{{ baseUrl }}dist/fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: Medium;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-display: swap;
    src: url('{{ baseUrl }}dist/fonts/sourcesanspro-regular-webfont.eot');
    src: url('{{ baseUrl }}dist/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: Book;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-display: swap;
    src: url('{{ baseUrl }}dist/fonts/sourcesanspro-italic-webfont.eot');
    src: url('{{ baseUrl }}dist/fonts/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-italic-webfont.woff2') format('woff2'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-italic-webfont.woff') format('woff'),
    url('{{ baseUrl }}dist/fonts/sourcesanspro-italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
} */